<main class="p-5">
    <i class="bi bi-android"></i>

    <div>
        <img width="20px" src="/svg/slack.svg">
    </div>

    <div>
        <i class="fa-brands fa-slack fa-spin"></i>
    </div>
</main>