{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main class="p-4">
    <div class=" row">
        <h2>Список сторінок</h2>
        <p class="col-6">Тут вам потрібно написати інформацію про ваш проєкт.
            Поки що можна написати будь-який текст</p>
    </div>

    <div class="">
        <div class=" col-2">
            {{#each buttons}}
            <div>
                <a href="{{link}}" class="my-1 btn btn-primary">{{text}}</a>
            </div>{{/each}}
        </div>
    </div>
</main>
{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}