html {
  display: flex;
  margin: 0;
  background: rgba(117, 5, 192, 0.842);
  justify-content: center;
}
body {
  max-width: 1000px;
  background-color: #8d8594c4;
  display: flex;
  justify-content: center;
  align-items: center;
}
::selection {
  background-color: rgb(236, 101, 10);
}
.card-img-top {
  padding: 10px;
}
.col-4 {
  width: 100%;
}
