<div class="nav nav-tabs ">
    {{#each footer}}

    <div class="col-2 mx-2 flex-column">
        <a href="{{0/link}}" class="nav-link">{{0/text}}</a>
        <a href="{{1/link}}" class="nav-link">{{1/text}}</a>
        <a href="{{2/link}}" class="nav-link">{{2/text}}</a>
        <a href="{{3/link}}" class="nav-link disabled">{{3/text}}</a>
    </div>
    {{/each}}
</div>