<div class="card ">
    <div class="nav nav-tabs">
        {{#each navigation/links}}
        <a href="{{href}}" class="nav-link">{{text}}</a>
        {{/each}}
        <a href="#" class="nav-link disabled">Disabled</a>
    </div>
</div>